body{
    
    
    
    

}
#navebar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: rgb(236, 229, 229);
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1541791135449-168d91a780a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80) ;
    top:0px;
    left:0px;
    height: 100vh;
    width:100%;
    z-index: -1;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
}



.ul1 {
    display: flex;

}

.ul1 li{
   
    list-style: none;
    text-decoration: none;
    border: mediumblue;
    
}
.ul1 li a{
    color: #697b57;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-size: larger;
}


#navbar ul li a:hover{
    color: black;
    background-color:green;
}
#logo{
    padding-left: 0px;
    margin-right: 20px;
    
}

#logo img{
    height: 59px;
   padding-right: 5px;
    border-radius: 20px;
}
#input{
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    width: 150px;
    height: 25px;
    background-color:#88cccd;
    font-size:larger;
    border:white;
    color: #effddc;
    margin-top: 4px;
    outline: none;
}

.footer{

    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20px;
    color: #77865b;
    background-color: #42c5e2;
    border-radius: 15px;
    text-align: center;
}
.contaner2{
  
    position: absolute;
    width: 100%;
    color: #77865b;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.6rem;
    margin-top: 0%;
    
}
.contaner6{
 
    margin: auto;
    margin-top: 0%;
    color: rgb(236, 238, 241);
    text-align: center;

}

.contaner7{
    width: 250px;
    height: 250px;
    border:0px solid #020f26;
    margin-top: 0px;
    margin-inline-end: 20px;
    border-radius: 10px;
    color: #77865b;
    text-align: center;
    font-size: 1.35rem;
}

.contaner4{
    width: 250px;
    height: 250px;
    border:0px solid #020f26;
    margin-inline-end: 20px;
    border-radius: 10px;
    color: #77865b;
    text-align: center;
    font-size: 1.35rem;
    
    
}
.contaner5{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    padding: 40px;
    }
    .contaner8{
        width: 250px;
        height: 250px;
        border:0px solid #020f26;
        margin-top: 0px;
        margin-inline-end: 20px;
        border-radius: 10px;
        color: #77865b;
        text-align: center;
        font-size: 1.35rem;}
